@import 'app-colors';
section{
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-gray;
  overflow: auto;
  padding: 96px 88px 0 88px;
  .close{
    position: absolute;
    top: 24px;
    right: 32px;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    .cross{
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      overflow: hidden;
      cursor: pointer;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: $primary-red;
        height: 1px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  .content{
    display: block;
    margin: 0px auto;
    padding: 54px 0px 108px 0px;
    width: 100%;
    max-width: 847px;
    background-color: $white;
    .modal_header{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 34px;
      img{
        width: 36px;
        height: 18px;
      }
      p{
        margin-left: 26px;
        line-height: 1;
        font-size: 18px;
        color: $text-gray;
      }
    }
  }
  .modal_title{
    margin-top: 50px;
    padding-left: 45px;
    font-size: 36px;
    color: $text-gray;
    font-weight: 100;
  }
  .name_date{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding: 0px 72px 0px 45px; 
    p{
      font-weight: 100;
      font-size: 20px;
      color: $text-black;
    }
  }
  .separation{
    margin-left: 45px;
    width: 95%;
    max-width: calc(100% - 113px);
    height: 1px;
    background-color: $background-gray-status;
    &.separation_header{
      margin-top: 25px;
    }
    &.separation_health{
      margin-top: 32px;
    }
    &.separation_recomendations{
      margin-top: 48px;
    }
    &.separation_objectives{
      margin-top: 80px;
    }
  }
  .section_title{
    margin-top: 26px;
    padding-left: 45px;
    font-size: 24px;
    font-weight: 100;
    color: $text-black;
  }
  .section_subtitle{
    margin-top: 6px;
    padding-left: 45px;
    font-size: 14px;
    color: $text-gray;
    font-weight: 300;
  }
  .financial_health_index{
    margin-top: 54px;
    padding: 0px 72px;
    .evaluations{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 16px;
      .status{
        width: 285px;
        &.healthy{
          .score{
            color: $primary-green;
          }
          .status_bar{
            div{
              background-color: $primary-green;
            }
          }
        }
        &.unhealthy{
          .score{
            color: $unhealthy-yellow;
          }
          .status_bar{
            div{
              background-color: $unhealthy-yellow;
            }
          }
        }
        &.dangerous{
          .score{
            color: $primary-red;
          }
          .status_bar{
            div{
              background-color: $primary-red;
            }
          }
        }
        .score{
          font-size: 120px;
          font-style: normal;
          font-stretch: normal;
          line-height: 141px;
          height: 141px;
          letter-spacing: normal;
          font-weight: 100;
          span{
            font-size: 36px;
            color: $text-gray;
          }
        }
        .status_bar{
          width: 100%;
          height: 3px;
          background-color: $background-gray-status;
          div{
            height: 3px;
            -webkit-transition: width 0.5s;
            transition: width 0.5s;
          }
        }
        .verdict{
          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          line-height: 20px;
          letter-spacing: normal;
          font-weight: 400;
          color: $text-gray;
          margin-top: 36px;
        }
      }
      .items{
        display: flex;
        justify-content: space-between;
        width: 320px;
        .item{
          &.healthy{
            .bar{
              .status_bar{
                div{
                  background-color: $primary-green;
                }
              }
            }
            .score{
              span{
                color: $primary-green;
              }
            }
          }
          &.unhealthy{
            .bar{
              .status_bar{
                div{
                  background-color: $unhealthy-yellow;
                }
              }
            }
            .score{
              span{
                color: $unhealthy-yellow;
              }
            }
          }
          &.dangerous{
            .bar{
              .status_bar{
                div{
                  background-color: $primary-red;
                }
              }
            }
            .score{
              span{
                color: $primary-red;
              }
            }
          }
          .bar{
            width: 80px;
            .image_container{
              display: flex;
              justify-content: center;
              align-items: flex-end;
              margin: 0px auto 0px auto;
              width: 24px;
              height: 24px;
              img{
                width: 100%;
              }
            }
            .status_bar{
              display: flex;
              align-items: flex-end;
              margin: 8px auto 0px auto;
              width: 3px;
              height: 132px;
              background-color: $background-gray-status;
              div{
                width: 3px;
              }
            }
            .name{
              font-size: 13px;
              font-style: normal;
              font-stretch: normal;
              line-height: 15px;
              letter-spacing: normal;
              text-align: center;
              color: $text-black;
              margin-top: 16px;
            }
          }
          .score{
            margin-top: 9px;
            padding-left: calc(50% - 7px);
            font-size: 14px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: $text-light-gray;
            span{
              font-size: 24px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
  .recommendations_by_category{
    margin-top: 72px;
    padding: 0px 64px 0px 84px;
    .row{
      display: flex;
      align-items: flex-start;
      width: 100%;
      &:nth-child(n + 2){
        margin-top: 60px;
      }
      .item{
        display: flex;
        width: calc(50% - 0.5px);
        &:nth-child(1){
          .recomendations{
            padding-right: 38px;
          }
        }
        &:nth-child(3){
          padding-left: 47px;
        }
        .score{
          position: relative;
          width: 73px;
          height: 71px;
          img{
            position: absolute;
            width: 52px;
            top: 0;
            left: 0;
          }
          div{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
            border-radius: 48px;
            width: 48px;
            height: 48px;
            background-color: $primary-green;
            color: $white;
            font-size: 24px;
            line-height: 1;
            font-weight: 400;
          }
        }
        .recomendations{
          width: calc(100% - 73px);
          padding-left: 12px;
          .recomendation_title{
            font-size: 24px;
            font-weight: 300;
            color: $text-black;
          }
          .recomendations_list{
            margin-top: 12px;
            p{
              font-size: 14px;
              color: $text-gray;
              font-weight: 300;
            }
          }
        }
      }
      .recomendation_separation{
        height: 162px;
        width: 1px;
        background-color: $menu-gray;
        opacity: 0.4;
      }
    }
  }
  .objectives_container{
    margin-top: 50px;
    padding: 0px 80px 0px 110px;
    .objective{
      display: flex;
      &:nth-child(n + 2){
        margin-top: 18px;
      }
      &:not(:last-child){
        border-bottom: 1px solid rgba(151,151,151,0.4);
        padding-bottom: 16px;
      }
      .number{
        border-radius: 100%;
        background-color: $primary-green;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        font-size: 24px;
        line-height: 1;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: $white;
      }
      .details{
        margin-left: 20px;
        width: calc(100% - 110px);
        .name{
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $text-gray;
          font-weight: 100;
        }
        .date_price{
          margin-top: 4px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $text-light-gray;
        }
      }
      .edit{
        width: 18px;
        height: 18px;
        margin-top: 8px;
        cursor: pointer;
      }
      .delete{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        margin-top: 8px;
        margin-left: 18px;
        cursor: pointer;
        &::before, &::after {
          content: '';
          position: absolute;
          width: 100%;
          top: 50%;
          left: 0;
          margin-top: -1px;
          background: $text-black;
          height: 1px;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }


  .explanation_container{
    margin-top: 64px;
    .explanation{
      font-size: 14px;
      color: $text-gray;
      font-weight: 300;
    }
    .principal{
      padding: 0px 88px 0px 160px;
    }
    .items{
      width: 100%;
      margin-top: 70px;
      .item{
        width: calc(100% - 248px);
        display: block;
        margin-left: 160px;
        &:not(:nth-child(1)){
          margin-top: 40px;
        }
        &:not(:last-child){
          padding-bottom: 34px;
          border-bottom: 1px solid rgba(151,151,151,0.4);
        }
        .item_title{
          font-size: 24px;
          color: $text-black;
          font-weight: 300;
          margin-top: 24px;
        }
        img{
          width: 54px;
        }
        .explanations_list{
          margin-top: 24px;
          .explanation{
            &:not(:nth-child(1)){
              margin-top: 16px;
            }
          }
        }
      }
    }
  }
  .control{
    display: block;
    margin: 45px auto 44px auto;
    width: 100%;
    max-width: 847px;
    .print{
      display: block;
      margin: 0px 0px 0px auto;
      border: none;
      padding: 0px;
      width: 200px;
      height: 48px;
      background-color: $primary-red;
      color: $white;
      font-size: 16px;
      font-weight: 300;
    }
  }
}