<section class="interview">
  <client-header></client-header>
  <div class="content" id="content">
    <form class="questions_container" id="interviewForm" [formGroup]="interview">
      
      <div class="question_item" *ngFor="let question of questions" [ngClass]="{active: active_question_id === question.num_pregunta_id}" [attr.id]="'question_container_' + question.num_pregunta_id">
        <div class="question">
          <div class="line"></div>
          <p><span *ngIf="question.pregunta_requerida">*</span>  {{question.num_pregunta_id}}<span>{{getDesTexto(question)}}</span></p>
        </div>
        
        <!-- sin opciones y fecha tipo 0 -->
        <div class="answer simple_input" *ngIf="question.des_opciones.length === 0 && question.tipo_fecha === 0">
          <!-- <span class="currencySign">$</span> -->
          <input 
            type="text" 
            tabindex="-1"
            name="question{{question.num_pregunta_id}}"
            [maxValue]="question.max_val"
            [applyMaxValue]="question.bnd_enteros == 0 ? false : true"
            [noSpecialChars]="true"
            [noNumbers]="question.no_num"
            [attr.id]="'question_' + question.num_pregunta_id" 
            (click)="setActiveQuestion(question.num_pregunta_id)" 
            formControlName="{{'question_' + question.num_pregunta_id}}" 
            (input)="validateValue(question)" 
            minlength="0"
            [attr.maxlength]="question.max ? (question.bnd_enteros == 1 ? (question.max + (question.max / 3)) : question.max) : 100000000000" />
        </div>
        
        <!-- con opciones y fecha tipo 0 -->
        <div class="answer simple_options" *ngIf="question.des_opciones.length !== 0 && question.tipo_fecha === 0">
          <div class="options_container">
            <div class="option" *ngFor="let option of question.des_opciones; let i = index" [ngClass]="{focused: question.focused === i && active_question_id === question.num_pregunta_id, selected: question.selected.indexOf(i) > -1}" (click)="selectOptionByClick(question.num_pregunta_id, i)">{{option.nombre}}</div>
          </div>
          <input 
            type="text" 
            tabindex="-1"
            name="question{{question.num_pregunta_id}}"
            [maxValue]="question.max_val"
            [applyMaxValue]="question.bnd_enteros == 0 ? false : true"
            [noSpecialChars]="true"
            [noNumbers]="question.no_num"
            [attr.id]="'question_' + question.num_pregunta_id" 
            formControlName="{{'question_' + question.num_pregunta_id}}" 
            (click)="setActiveQuestion(question.num_pregunta_id, 0)" 
            minlength="0"
            [attr.maxlength]="question.max ? (question.bnd_enteros == 1 ? (question.max + (question.max / 3)) : question.max) : 100000000000"/>
        </div>
        
        <!-- con opciones (que en realidad no tiene opciones en el servicio) y fecha tipo 1 -->
        <div class="answer input_options" *ngIf="question.des_opciones.length !== 0 && question.tipo_fecha === 1">
          <input type="text" 
            name="question{{question.num_pregunta_id}}"
            tabindex="-1"
            [maxValue]="question.max_val"
            [applyMaxValue]="question.bnd_enteros == 0 ? false : true"
            [noSpecialChars]="true"
            [noNumbers]="question.no_num"
            [attr.id]="'question_' + question.num_pregunta_id" 
            formControlName="{{'question_' + question.num_pregunta_id}}" 
            minlength="0"
            [attr.maxlength]="question.max ? (question.bnd_enteros == 1 ? (question.max + (question.max / 3)) : question.max) : 100000000000"
            (click)="setActiveQuestion(question.num_pregunta_id, -1)"/>
          <div class="options_container">
            <div class="option" *ngFor="let option of question.des_opciones; let i = index" [ngClass]="{focused: question.focused === i && active_question_id === question.num_pregunta_id, selected: question.selected.indexOf(i) > -1}" (click)="selectOptionByClick(question.num_pregunta_id, i)">{{option.nombre}}</div>
            <input 
              type="text" 
              tabindex="-1"
              [attr.id]="'question_date_' + question.num_pregunta_id" 
              formControlName="{{'question_' + question.num_pregunta_id}}" 
              (click)="setActiveQuestion(question.num_pregunta_id, 0)"
              [attr.maxlength]="question.max ? (question.bnd_enteros == 1 ? (question.max + (question.max / 3)) : question.max) : 100000000000"/>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="footer">
    <div class="controls">
      <img src="assets/images/lock-sm.png"/>
      <div class="add_container">
        <button class="generic_hsbc" (click)="openAddObjectiveModal()">Añadir Objetivo</button>
        <button class="generic_hsbc" (click)="openAddNoteModal()">Añadir Notas</button>
      </div>
      <button class="generic_hsbc finish" (click)="sendInterview()">Terminar</button>
    </div>
  </div>
</section>
<add-objective *ngIf="add_objective_modal_open" (close)="closeObjectiveModal($event)"></add-objective>
<add-notes *ngIf="add_note_modal_open" (close)="closeNoteModal($event)"></add-notes>