@import 'app-colors';

#menu{
  border-bottom: solid 1px $background-gray-status;
  position: relative;
  margin-bottom: 24px;

  .title{
    font-weight: 100;
    font-size: 24px;
    line-height: 24px;
    color: $text-black;
    padding-bottom: 10px;
    margin: 0;
    display: inline-block;
  }
  .right-menu{
    margin: 0;
    padding: 0;
    float: right;
    li{
      padding: 0;
      margin: 0;
      display: inline-block;
      margin-left: 55px;
      a{
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        color: $text-black;
        text-decoration: none;
        position: relative;
        padding:8px 11px 12px 11px;
        text-align: center;
        display: block;
        &.active{
          border-bottom: 2px solid $primary-red;
          &.notas {
            border: none;
            background: $text-gray;
            color: $white;
          }
        }

        @mixin btn-link() {
          padding-bottom: 6px;
          padding-right: 38px;
          margin-bottom:6px;
          border-radius: 3px;
          font-weight: 500;
          height: 30px;
          line-height: 17px;
          margin-top: -3px;

          &:after {
            margin-right: -28px;
          }
          &.active {
            border: none;
          }
        }

        &.btn-notes{
          @include btn-link();
          background-color: $white;

          &:after {
            content: "";
            background: transparent url(/assets/images/notes.png) no-repeat 0 0;
            width: 15px;
            height: 17px;
            float: right;
          }

          &.active {
            background-color: $text-gray;
            color: $white;
            &:after {
              background-image: url(/assets/images/notes-active.png);
              color: $white;
            }
          }
        }
				
        &.btn-products {
          @include btn-link();
          background-color: $background-gray-status;

          &:after {
            content: "";
            background: transparent url(/assets/images/tick.png) no-repeat 0 0;
            width: 16px;
            height: 11px;
            float: right;
          }

          &.active {
            background: $primary-green;
            color: $white;

            &:after {
              background-image: url(/assets/images/tick-white.png);
            }
          }
        }
      }
    }
  }
}

.product-list {
  text-align: center;

  .content-box {
    position: relative;
    padding-top: 40px;

    &.selected {
      border: 1px solid $primary-red;
    }
  }

  h2 {
    text-align: left;
    color: $text-black;
    font-weight: 300;
  }

  .product-type,
  .product-information {
    font-size: 14px;
    color: $text-light-gray;
  }

  .product-name {
    font-size: 24px;
    color: $text-black;
    font-weight: 100;
  }

  .product-links {
    font-size: 12px;
    margin-top: 20px;

    a {
      padding: 0 5px;
      cursor: pointer;
    }
  }

  .product-img {
    margin-bottom: 15px;
  }

  .product-highlight {
    background: transparent url(/assets/images/star.png) no-repeat 0 0;
    width: 25px;
    height: 24px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}
.col-product {
  width: 100%;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media only screen and (min-width: 992px) {
  .col-product {
    width: 25%;
  }
}