@import 'app-colors';
section{
  position: absolute;
  top: 0px;
  width: 100%;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: $white;
  .client_container{
    padding: 4px;
    .client, .not_found, .loading{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 11px 15px 11px 15px;
      &.client{
        &:hover{
          cursor: pointer;
          background-color: $menu-border-bottom;
          span{
            color: $white;
          }
          div{
            background-color: $white;
          }
        }
      }
      span{
        font-size: 14px;
        line-height: 17px;
        font-weight: 100;
        color: $text-black;
        &:nth-child(3){
          width: 240px;
          max-width: 44%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      div{
        width: 1px;
        height: 17px;
        background-color: $text-black;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
  .create_cis{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 26px 12px 16px 0px;
    button{
      border: none;
      background-color: $primary-red;
      height: 36px;
      padding-left: 40px;
      padding-right: 40px; 
      font-size: 16px;
      font-weight: 100;
      color: $white;
    }
  }
}