<section>
  <div class="client_container">
    <div class="clients_container" *ngIf="clients.length !== 0 && !loading">
      <div class="client" (click)="setLocalClientInformation(client)" *ngFor="let client of clients">
        <span>CIS. {{client.num_clie_cis}}</span>
        <div></div>
        <span>{{client.nombre_clie}}</span>
      </div>
    </div>
    <div class="not_found" *ngIf="clients.length === 0 && !loading">
      <span>No se han encontrado clientes</span>
    </div>
    <div class="loading" *ngIf="loading">
      <span>Buscando cliente...</span>
    </div>
  </div>
</section>