@import 'app-colors';
.mainBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 36px;
  color: $text-black;
}
.hsbcImage {
  width: 60px;
  height: 30.3px;
}
.mainTitle {
  margin: 22.7px 0 45px 0;
  font-weight: 100;
}
.whiteBox {
  width: 503px;
  padding: 62px 44px;
  border-radius: 2px;
  background-color: $white;
}
.homeButton {
  width: 180px;
  height: 48px;
  position: relative;
  background-color: $primary-red;
  color: $white;
  border: 0;
  font-size: 18px;
  padding: 0 20px;
  text-align: left;
}
.whiteRightArrow {
  position: absolute;
  top: 17px;
  left: 140px;
  border-top: 1px solid $white;
  border-right: 1px solid $white;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 17px;
  height: 17px;
}