.product-info {
  .content-box {
    padding: 70px;
  }
  h2 {
    font-size: 36px;
    line-height:49px;
    margin-bottom: 0;
  }
  h4 {
    font-size: 20px;
    line-height: 27px;
    color: #9B9B9B;
    margin-top: 0;
    font-weight: 300;
  }

  .product-info-detail {
    white-space: pre-line;
  }
}