<div class="header">
  <div class="title_container" [routerLink]="['/client-finances/client-file/dashboard']">
    <img src="assets/images/logo_hsbc.svg"/>
    <p>Financial <span>Check Up</span></p>
  </div>
  <div class="header_controls">
    <div class="subtitle" *ngIf="subtitle !== '' && user_information_visible">{{subtitle}}</div>
    <div class="percentage_status" *ngIf="user_information_visible">
      <p class="title">Información de {{name}}</p>
      <div class="status_bar">
        <div [style.width.%]="percentage"></div>
      </div>
      <p class="percentage_amount">{{percentage}}%</p>
    </div>
    <div class="separation" *ngIf="show_menu && user_information_visible"></div>
    <div class="menu" *ngIf="show_menu">
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="clickable" open_menu="true"></div>
      </div>
      <div class="options_container" *ngIf="open_menu">
        <a class="option" *ngIf="!singout_only" [routerLink]="['/interview']">Nueva entrevista con cliente</a>
        <a class="option" *ngIf="!singout_only" [routerLink]="['/interview']" [queryParams]="{id: actual_interview_id}">Terminar entrevista</a>
        <a class="option" *ngIf="!singout_only" [routerLink]="['/client-finances/client-file/dashboard']">Ficha de cliente</a>
        <a class="option">Salir de la aplicación</a>
      </div>
    </div>
  </div>
</div>