@import 'app-colors';
.header{
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 14px;
  width: 100%;
  height: 58px;
  background-color: $white;
  .title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      width: 44px;
      height: 20px;
    }
    p{
      line-height: normal;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $text-black;
      span{
        font-weight: 100;
      }
    }
    >*{
      &:not(:nth-child(1)){
        margin-left: 14px;
      }
    }
  }
  .header_controls{
    display: flex;
    align-items: center;
    >*{
      &:nth-child(n + 2){
        margin-left: 30px;
      }
    }
    .subtitle{
      display: flex;
      align-items: center; 
      justify-content: center;
      width: 74px;
      height: 20px;
      background-color: $background-gray-sub-title;
      font-size: 10px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $text-gray;
    }
    .percentage_status{
      width: 235px;
      height: 100%;
      padding-top: 12px;
      .title{
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: $text-gray;
      }
      .status_bar{
        margin-top: 6px;
        width: 100%;
        height: 3px;
        background-color: $background-gray-status;
        div{
          height: 3px;
          background-color: $primary-red;
          -webkit-transition: width 0.5s;
          transition: width 0.5s;
        }
      }
      .percentage_amount{
        margin-top: 5px;
        width: 100%;
        line-height: normal;
        font-size: 10px;
        color: $primary-red;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
      }
    }
    .separation{
      width: 2px;
      height: 40px;
      background-color: $background-gray-status;
    }
    .menu{
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        .line{
          width: 100%;
          height: 2px;
          background-color: $menu-gray;
        }
        .clickable{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          z-index: 2
        }
      }
      .options_container{
        position: absolute;
        top: 100%;
        right: -8px;
        width: 270px;
        border-radius: 2px;
        background-color: $text-black;
        &:before{
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 12px solid $text-black;
          top: -12px;
          right: 17px;
        }
        .option{
          display: flex;
          align-items: center;
          padding-left: 12px;
          width: 100%;
          height: 30px;
          color: $white;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          cursor: pointer;
          &:nth-child(1){
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
          }
          &:nth-child(n + 1){
            border-bottom: 1px solid $menu-border-bottom;
          }
          &:last-child{
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
          }
        }
      }
    }
  }
}