@import 'app-colors';
*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $background-gray;
  font-family: 'UniversNextforHSBC';
}
p{
  margin: 0;
  &.card_title{
    line-height: normal;
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $text-black;
  }
  &.card_description{
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $text-black;
  }
}
button{
  cursor: pointer;
  &.generic_hsbc{
    border: none;
    background-color: $primary-red;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}
input{
  font-family: 'UniversNextforHSBC';
  &:focus{
    outline: none;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance:textfield;
}

input::-ms-clear {
    display: none;
}

.hidden{
  display: none !important;
}
.fill_screen{
  width: 100%;
  height: 100%;
}
.whiteBox{
  border-radius: 2px;
  background-color: $white;
}

.content-box {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 24px 37px;
  color: #344653;
  //margin-bottom: 25px;
  max-width: 100%;
  min-height: 100%;

  h2 {
    $margin-bottom: 25px;
    font-weight: 100;
    font-size: 24px;
    text-align: left;
    margin: 0 0 $margin-bottom 0;
    color: #344653;

    &.margin-md {
      margin-bottom: 40px;
    }

    &+.subtitle {
      margin-top: -$margin-bottom;
      font-weight: 300;
      color: #4a4a4a;
      font-size: 14px;
    }
  }

  &.content-box-msg {
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 300;
  }
}
.divFlexRight {
  display: flex;
  justify-content: flex-end;
}
.radio, .checkbox {
  position: relative;
  display: block;
  margin-top:10px;
  margin-bottom: 10px;
}
.radio input[type="radio"]{
  position: absolute;
  margin-left: -20px;
}
input[type="radio"]{
  margin: 4px 0 0;
}
textarea {
  font-family: inherit;
  font-size: inherit;
}
.search_select_container{
  ng-select{
    height: 35px;
  }
}