@font-face {
  font-family: "UniversNextforHSBC";
  font-weight: 100;
  src: url("assets/fonts/UniversNextforHSBC-Thin.eot?") format("eot"), url("assets/fonts/UniversNextforHSBC-Thin.woff") format("woff"), url("assets/fonts/UniversNextforHSBC-Thin.ttf") format("truetype"), url("assets/fonts/UniversNextforHSBC-Thin.svg#UniversNextforHSBC-Thin") format("svg");
}
@font-face {
  font-family: "UniversNextforHSBC";
  font-weight: 300;
  src: url("assets/fonts/UniversNextforHSBCW01-Lt.eot?") format("eot"), url("assets/fonts/UniversNextforHSBCW01-Lt.woff") format("woff"), url("assets/fonts/UniversNextforHSBCW01-Lt.ttf") format("truetype"), url("assets/fonts/UniversNextforHSBCW01-Lt.svg#UniversNextforHSBCW01-Lt") format("svg");
}
@font-face {
  font-family: "UniversNextforHSBC";
  font-weight: 400;
  src: url("assets/fonts/UniversNextforHSBCW01-Rg.eot?") format("eot"), url("assets/fonts/UniversNextforHSBCW01-Rg.woff") format("woff"), url("assets/fonts/UniversNextforHSBCW01-Rg.ttf") format("truetype"), url("assets/fonts/UniversNextforHSBCW01-Rg.svg#UniversNextforHSBCW01-Rg") format("svg");
}
@font-face {
  font-family: "UniversNextforHSBC";
  font-weight: 500;
  src: url("assets/fonts/UniversNextforHSBCW01-Md.eot?") format("eot"), url("assets/fonts/UniversNextforHSBCW01-Md.woff") format("woff"), url("assets/fonts/UniversNextforHSBCW01-Md.ttf") format("truetype"), url("assets/fonts/UniversNextforHSBCW01-Md.svg#UniversNextforHSBCW01-Md") format("svg");
}