@import 'app-colors';
section{
  padding-top: 47px;
  padding-bottom: 70px;
  .client_information{
    padding: 30px 16px 20px 68px;
    .client_name{
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $text-light-gray;
    }
    .client_data{
      margin-top: 28px;
      display: flex;
      .data_column{
        width: 33.3333%;
        .column_title{
          font-size: 13px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $text-black;
        }
        .client_attribute{
          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: $text-light-gray;
        }
      }
    }
    button{
      display: block;
      margin: 10px 0px 0px auto;
      border: none;
      width: 90px;
      height: 36px;
      background-color: $primary-red;
      color: $white;
      font-size: 16px;
      font-weight: 300;
    }
  }
  >.whiteBox{
    margin-top: 16px;
    .header{
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
      height: 23px;
      img{
        width: 26px;
      }
      p{
        font-size: 20px;
        font-style: normal;
        font-stretch: normal;
        line-height: 23px;
        letter-spacing: normal;
        font-weight: 300;
        color: $text-black;
        margin-left: 18px;
      }
    }
  }
  .financial_health_index{
    padding: 24px 0px 30px 0px;
    .evaluations{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 16px;
      padding: 0px 38px 0px 74px;
      .status{
        padding-top: 22px;
        width: 300px;
        &.healthy{
          .score{
            color: $primary-green;
          }
          .status_bar{
            div{
              background-color: $primary-green;
            }
          }
        }
        &.unhealthy{
          .score{
            color: $unhealthy-yellow;
          }
          .status_bar{
            div{
              background-color: $unhealthy-yellow;
            }
          }
        }
        &.dangerous{
          .score{
            color: $primary-red;
          }
          .status_bar{
            div{
              background-color: $primary-red;
            }
          }
        }
        .score{
          font-size: 112px;
          font-style: normal;
          font-stretch: normal;
          line-height: 131px;
          letter-spacing: normal;
          text-align: center;
          font-weight: 100;
        }
        .status_bar{
          margin-top: 6px;
          width: 100%;
          height: 3px;
          background-color: $background-gray-status;
          div{
            height: 3px;
            -webkit-transition: width 0.5s;
            transition: width 0.5s;
          }
        }
        .verdict{
          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          line-height: 20px;
          letter-spacing: normal;
          font-weight: 400;
          color: $text-light-gray;
          margin-top: 5px;
        }
      }
      .items{
        display: flex;
        justify-content: space-between;
        width: 350px;
        .item{
          &.healthy{
            .bar{
              .status_bar{
                div{
                  background-color: $primary-green;
                }
              }
            }
            .score{
              span{
                color: $primary-green;
              }
            }
          }
          &.unhealthy{
            .bar{
              .status_bar{
                div{
                  background-color: $unhealthy-yellow;
                }
              }
            }
            .score{
              span{
                color: $unhealthy-yellow;
              }
            }
          }
          &.dangerous{
            .bar{
              .status_bar{
                div{
                  background-color: $primary-red;
                }
              }
            }
            .score{
              span{
                color: $primary-red;
              }
            }
          }
          .bar{
            width: 80px;
            .image_container{
              display: flex;
              justify-content: center;
              align-items: flex-end;
              margin: 0px auto 0px auto;
              width: 30px;
              height: 30px;
              img{
                width: 100%;
              }
            }
            .status_bar{
              display: flex;
              align-items: flex-end;
              margin: 16px auto 0px auto;
              width: 3px;
              height: 100px;
              background-color: $background-gray-status;
              div{
                width: 3px;
              }
            }
            .name{
              font-size: 13px;
              font-style: normal;
              font-stretch: normal;
              line-height: 15px;
              letter-spacing: normal;
              text-align: center;
              color: $text-black;
              margin-top: 16px;
            }
          }
          .score{
            margin-top: 9px;
            padding-left: calc(50% - 7px);
            font-size: 14px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: $text-light-gray;
            span{
              font-size: 24px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
  .objectives_and_needs{
    padding: 24px 0px 54px 0px;
    .objectives_list{
      margin-top: 40px;
      padding: 0px 54px 0px 34px;
      .objective{
        border-bottom: 1px solid rgba(216, 216, 216, 0.5);
        padding-bottom: 16px;
        &:not(:nth-child(1)){
          margin-top: 16px;
        }
        .objective_header{
          display: flex;
          justify-content: space-between;
          padding: 0px 11px 0px 24px;
          >div{
            &:nth-child(1){
              display: flex;
              .number{
                width: 42px;
                line-height: 22px;
                font-size: 18px;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: $primary-red;
              }
              .name{
                font-size: 18px;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: $text-black;
                font-weight: 100;
                line-height: 22px;
              }
            }
            &:nth-child(2){
              img{
                width: 20px;
                height: 20px;
                cursor: pointer;
                &:nth-child(2){
                  margin-left: 16px;
                }
              }
            }
          }
        }
        .services{
          margin-top: 8px;
          .service{
            font-size: 14px;
            font-style: normal;
            font-stretch: normal;
            line-height: 17px;
            letter-spacing: normal;
            color: $text-light-gray;
            padding-left: 66px;
            &:nth-child(n + 2){
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
  .products_and_investments{
    padding: 24px 0px 64px 0px;
    .products_list{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 40px;
      padding: 0px 60px 0px 34px;
      .product{
        width: calc(50% - 8px);
        &:nth-child(n + 3){
          margin-top: 12px;
        }
        .product_header{
          display: flex;
          justify-content: flex-start;
          padding-right: 11px;
          .number{
            width: 42px;
            line-height: 22px;
            font-size: 18px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: $primary-red;
          }
          .name{
            font-size: 18px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: $text-black;
            font-weight: 100;
            line-height: 22px;
          }
        }
        .product_items{
          display: block;
          margin: 6px 0px 0px auto;
          border-bottom: 1px solid rgba(216, 216, 216, 0.5);
          width: calc(100% - 42px);
          padding-bottom: 14px;
          p{
            font-size: 14px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: normal;
            color: $text-light-gray;
          }
        }
      }
    }
  }
}     