$primary-red: #db0011;
$primary-green: #aaa20a;
$background-gray: #efefef;
$background-gray-sub-title: #eeeeed;
$background-gray-status: #d7d8d6;
$text-black: #344653;
$white: #fff;
$chart-loading: #999;
$text-gray: #4a4a4a;
$menu-gray: #979797;
$menu-border-bottom: #4d6474;