@import 'app-colors';
*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $background-gray;
  font-family: 'UniversNextforHSBC';
}
p{
  margin: 0;
}