@import 'app-colors';
section{
  width: 100%;
  height: 100%;
  .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 58px;
    background-color: $white;
    padding-left: 24px;
    img{
      width: 44px;
    }
    p{
      margin-left: 14px;
      font-size: 18px;
      font-weight: 300;
      color: $text-black;
      span{
        font-weight: 100;
      }
    }
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 58px);
    .searcher_container{
      padding: 37px 63px 170px 63px;
      width: calc(100% - 20px);
      max-width: 843px;
      background-color: $white;
      .title{
        font-size: 24px;
        font-weight: 100;
        color: $text-black;
      }
      .description{
        margin-top: 12px;
        font-size: 16px;
        font-weight: 100;
        color: $text-black;
      }
      .search_select_container{
        display: block;
        position: relative;
        margin: 60px auto 0px auto;
        width: 100%;
        max-width: 440px;
        input{
          display: block;
          padding: 0px 35px 12px 16px;
          width: 100%;
          height: 35px;
          font-size: 20px;
          font-weight: 100;
          color: $text-black;
          border-top: none;
          border-left: none; 
          border-right: none;
          border-bottom: 1px solid $background-gray-status;
        }
        dropdown{
          display: block;
          position: relative;
        }
      }
    }
  }
}