<div id="menu">
  <h2 class="title">{{ false ? 'Productos seleccionados' : 'Productos'}}</h2>
  <ul class="right-menu">
    <li><a (click)="hideSelected()" class="active">Todos</a></li>
    <li><a class="btn-link btn-products" (click)="showSelected()" [ngClass]="{activeProducts: showSelectedProducts}">{{selectedProducts.length}} Productos</a></li>
  </ul>
</div>
<div class="alert alert-info" *ngIf="products.length === 0">
  Cargando productos...
</div>
<div *ngIf="products.length > 0 && !currentProduct && !selectedProduct && !showSelectedProducts">
  <div class="product-list" *ngFor="let list of products">
    <h2>{{list[0].categoria}}</h2>
    <div class="row">
      <div class="col-product" *ngFor="let product of list">
        <div class="content-box" [ngClass]="{selected: product.isAdded}">
          <div class="product-highlight" *ngIf="recommended_products.indexOf(product.id) !== -1"></div>
          <div class="product-img"><img [src]="getImagenByCategory(product.categoria)" /></div>
          <div class="product-type">{{product.tipo_producto}}</div>
          <div class="product-name">{{product.nombre_producto}}</div>
          <div class="product-information">{{product.informacion}}</div>
          <div class="product-links">
            <a (click)="showProductInfo(product)">mas info</a>
            <a (click)="selectProduct(product)" *ngIf="!product.isAdded">seleccionar</a>
            <a (click)="removeProduct(product.id)" *ngIf="product.isAdded">deseleccionar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-info marginBottom66px" *ngIf="products.length > 0 && !showSelectedProducts">
  Para la contratación de un fondo de inversión en específico, es necesario realizar el perfil de inversión
</div>
<div class="modal-product" *ngIf="currentProduct">
  <div class="container">
    <div class="simple-modal-logo"></div>
    <button class="simple-modal-close simple-modal-close-icon" (click)="closeProductModal()">Cerrar</button>
    
    <div class="content-box">
      <h2>{{currentProduct.nombre_producto}}</h2>
      <h4>{{currentProduct.tipo_producto}}</h4>
      <div class="product-info-detail">{{currentProduct.mas_informacion}}</div>
    </div>
  </div>
</div>

<div class="selected-modal" *ngIf="selectedProduct">
  <div class="container">
    <div class="simple-modal-logo"></div>
    <button class="simple-modal-close simple-modal-close-icon" (click)="closeProductModal()">Cerrar</button>
    
    <div class="content-box">
      <h2 class="marginBottom40px">Asocia el producto seleccionado a los objetivos del cliente</h2>
      <div>
        <div class="form-group checkbox-group" *ngFor="let product of selectedProducts, let i = index" ng-class="{'checkbox-inactive': product.id !== listaProductos.currentProductId}">
          <div class="number">{{(i < 9) ? "0"+(i+1) : (i+1)}}</div>
          <label class="control-label">{{ product.nombre_producto }}</label>
          <div *ngIf="selectedProduct.id !== product.id">
            <div *ngFor="let objectiveName of product.objectivesName" class="objective-list">{{objectiveName}}</div>
          </div>
          <form [formGroup]="productForm" novalidate>
          <div *ngIf="selectedProduct.id === product.id">
            <div class="radio checkbox-padding" *ngFor="let objective of objectives">
              <label>
                <input type="checkbox" name="objective" (change)="check(objective)" [checked]="objective.selected">
                {{objective.nombre}}
              </label>
            </div>
            <div *ngIf="anySelected || !objectives.length">
              <label class="control-label" >Fecha de venta</label>
              <div class="radio" *ngFor="let date of salesDates">
                <label>
                  <input type="radio" [value]="date.key" formControlName="selectedDate">
                  {{date.value}}
                </label>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>

      <div class="form-group btn-wrapper-right">
        <button class="btn btn-link simple-modal-close" (click)="closeProductModal()">Cancelar</button>
        <button class="btn btn-primary" [ngClass]="{disabledPrimaryButton:!productForm.value.selectedDate}" [disabled]="!productForm.value.selectedDate" (click)="saveProduct()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showSelectedProducts">
  <div class="content-box content-box-msg" *ngIf="!selectedProducts.length">
    no hay productos seleccionados
  </div>
  <div class="product-list" *ngIf="selectedProducts.length">
    <div class="row">
      <div class="col-product" *ngFor="let product of selectedProducts">
        <div class="content-box selected">
          <div class="product-highlight" *ngIf="recommended_products.indexOf(product.id) !== -1"></div>
          <div class="product-img"><img [src]="getImagenByCategory(product.categoria)" /></div>
          <div class="product-type">{{product.tipo_producto}}</div>
          <div class="product-name">{{product.nombre_producto}}</div>
          <div class="product-information">{{product.informacion}}</div>
          <div class="product-links">
            <a (click)="showProductInfo(product)">más info</a>
            <a (click)="selectProduct(product)" *ngIf="!product.isAdded">seleccionar</a>
            <a (click)="removeProduct(product.id)" *ngIf="product.isAdded">deseleccionar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-wrapper-right divFlexRight">
      <button class="btn btn-image btn-img-print" (click)="openPrintModal()"></button>
      <button class="btn-checkup" (click)="goToDashboard()">Terminar check up</button>
    </div>
  </div>
</div>
<printout *ngIf="print_modal_open" (close)="closePrintModal()"></printout>