@import 'app-colors';
section{
  padding-top: 47px;
  padding-bottom: 70px;
  .financial_health_index{
    >.whiteBox{
      .header{
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        height: 23px;
        img{
          width: 26px;
        }
        p{
          font-size: 20px;
          font-style: normal;
          font-stretch: normal;
          line-height: 23px;
          letter-spacing: normal;
          font-weight: 300;
          color: $text-black;
          margin-left: 18px;
        }
      }
    }
    .status{
      padding-top: 22px;
      width: 300px;
      &.healthy{
        .score{
          color: $primary-green;
        }
        .status_bar{
          div{
            background-color: $primary-green;
          }
        }
      }
      &.unhealthy{
        .score{
          color: $unhealthy-yellow;
        }
        .status_bar{
          div{
            background-color: $unhealthy-yellow;
          }
        }
      }
      &.dangerous{
        .score{
          color: $primary-red;
        }
        .status_bar{
          div{
            background-color: $primary-red;
          }
        }
      }
      .score{
        font-size: 112px;
        font-style: normal;
        font-stretch: normal;
        line-height: 131px;
        letter-spacing: normal;
        text-align: center;
        font-weight: 100;
      }
      .status_bar{
        margin-top: 6px;
        width: 100%;
        height: 3px;
        background-color: $background-gray-status;
        div{
          height: 3px;
          -webkit-transition: width 0.5s;
          transition: width 0.5s;
        }
      }
      .verdict{
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: 20px;
        letter-spacing: normal;
        font-weight: 400;
        color: $text-light-gray;
        margin-top: 5px;
      }
    }
  }
}