@import 'app-colors';
section{
  position: relative;
  padding-top: 47px;
  padding-bottom: 80px;
  .financial_health_index{
    display: flex;
    justify-content: space-between;
    >.whiteBox{
      width: calc(50% - 3px);
      height: 350px;
    }
    .status{
      padding-top: 34px;
      .header{
        display: flex;
        justify-content: flex-start;
        padding-left: 34px;
        height: 23px;
        img{
          width: 26px;
        }
        p{
          font-size: 20px;
          font-style: normal;
          font-stretch: normal;
          line-height: 23px;
          letter-spacing: normal;
          font-weight: 300;
          color: $text-black;
          margin-left: 18px;
        }
      }
      .content{
        margin-top: 10px;
        padding: 0px 60px;
        &.healthy{
          .score{
            color: $primary-green;
          }
          .status_bar{
            div{
              background-color: $primary-green;
            }
          }
        }
        &.unhealthy{
          .score{
            color: $unhealthy-yellow;
          }
          .status_bar{
            div{
              background-color: $unhealthy-yellow;
            }
          }
        }
        &.dangerous{
          .score{
            color: $primary-red;
          }
          .status_bar{
            div{
              background-color: $primary-red;
            }
          }
        }
      }
      .score{
        font-size: 112px;
        font-style: normal;
        font-stretch: normal;
        line-height: 131px;
        letter-spacing: normal;
        text-align: center;
        font-weight: 100;
      }
      .status_bar{
        margin-top: 6px;
        width: 100%;
        height: 3px;
        background-color: $background-gray-status;
        div{
          height: 3px;
          -webkit-transition: width 0.5s;
          transition: width 0.5s;
        }
      }
      .explanation{
        margin-top: 20px;
        padding: 0px 5px;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $text-gray;
        font-weight: 400;
      }
      .calculated{
        margin-top: 12px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: $primary-red;
        font-size: 14px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .items{
      display: flex;
      justify-content: space-between;
      padding: 34px 26px 0px 36px;
      .item{
        &.healthy{
          .bar{
            .status_bar{
              div{
                background-color: $primary-green;
              }
            }
          }
          .score{
            span{
              color: $primary-green;
            }
          }
        }
        &.unhealthy{
          .bar{
            .status_bar{
              div{
                background-color: $unhealthy-yellow;
              }
            }
          }
          .score{
            span{
              color: $unhealthy-yellow;
            }
          }
        }
        &.dangerous{
          .bar{
            .status_bar{
              div{
                background-color: $primary-red;
              }
            }
          }
          .score{
            span{
              color: $primary-red;
            }
          }
        }
        .bar{
          .image_container{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin: 0px auto 0px auto;
            width: 30px;
            height: 30px;
            img{
              width: 100%;
            }
          }
          .status_bar{
            display: flex;
            align-items: flex-end;
            margin: 28px auto 0px auto;
            width: 3px;
            height: 168px;
            background-color: $background-gray-status;
            div{
              width: 3px;
            }
          }
          .name{
            font-size: 13px;
            font-style: normal;
            font-stretch: normal;
            line-height: 15px;
            letter-spacing: normal;
            text-align: center;
            color: $text-black;
            margin-top: 16px;
          }
        }
        .score{
          margin-top: 9px;
          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: $text-light-gray;
          text-align: center;
          span{
            font-size: 24px;
            margin-right: 3px;
          }
        }
      }
    }
  }
  .life_goals_and_needs{
    margin-top: 5px;
    padding: 26px 16px 16px 26px;
    .title{
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $text-black;
      font-weight: 100;
    }
    .description{
      font-size: 14px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $text-gray;
    }
    .objectives_container{
      margin-top: 50px;
      padding: 0px 40px;
      .objective{
        display: flex;
        &:nth-child(n + 2){
          margin-top: 18px;
        }
        &:not(:last-child){
          border-bottom: 1px solid rgba(151,151,151,0.4);
          padding-bottom: 16px;
        }
        .number{
          border-radius: 100%;
          background-color: $primary-green;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          font-size: 24px;
          line-height: 1;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: $white;
        }
        .details{
          margin-left: 20px;
          width: calc(100% - 110px);
          .name{
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $text-gray;
            font-weight: 100;
          }
          .date_price{
            margin-top: 4px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $text-light-gray;
          }
        }
        .edit{
          width: 18px;
          height: 18px;
          margin-top: 8px;
          cursor: pointer;
        }
        .delete{
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          overflow: hidden;
          margin-top: 8px;
          margin-left: 18px;
          cursor: pointer;
          &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: $text-black;
            height: 1px;
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .add_objective{
      display: block;
      margin: 40px 0px 0px auto;
      border: none;
      padding: 0px;
      width: 140px;
      height: 36px;
      background-color: $primary-red;
      color: $white;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .results{
    margin-top: 5px;
    padding: 26px 0px 80px 26px;
    .title{
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $text-black;
      font-weight: 100;
    }
    .description{
      margin-top: 8px;
      font-size: 14px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $text-gray;
      span{
        font-weight: 300;
      }
    }
    .recommendations_by_category{
      margin-top: 50px;
      padding: 0px 70px 0px 38px;
      .row{
        display: flex;
        align-items: flex-start;
        width: 100%;
        &:nth-child(n + 2){
          margin-top: 60px;
        }
        .item{
          display: flex;
          width: calc(50% - 0.5px);
          &:nth-child(1){
            .recomendations{
              padding-right: 38px;
            }
          }
          &:nth-child(3){
            padding-left: 47px;
          }
          .score{
            position: relative;
            width: 73px;
            height: 71px;
            img{
              position: absolute;
              width: 52px;
              top: 0;
              left: 0;
            }
            div{
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              bottom: 0;
              z-index: 2;
              border-radius: 48px;
              width: 48px;
              height: 48px;
              background-color: $primary-green;
              color: $white;
              font-size: 24px;
              line-height: 1;
              font-weight: 400;
            }
          }
          .recomendations{
            width: calc(100% - 73px);
            padding-left: 12px;
            .recomendation_title{
              font-size: 24px;
              font-weight: 300;
              color: $text-black;
            }
            .recomendations_list{
              margin-top: 12px;
              p{
                font-size: 14px;
                color: $text-gray;
                font-weight: 300;
              }
            }
          }
        }
        .separation{
          height: 162px;
          width: 1px;
          background-color: $menu-gray;
          opacity: 0.4;
        }
      }
    }
  }
  .controls{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    button{ 
      border: none;
      padding: 0px;
      height: 48px;
      background-color: $primary-red;
      color: $white;
      font-size: 16px;
      font-weight: 300;
      &:nth-child(1){
        width: 160px;
      }
      &:nth-child(2){
        width: 180px;
      }
    }
  }
  .lock{
    position: absolute;
    bottom: 40px;
    left: -52px;
    width: 20px;
  }
}