@import 'app-colors';
section{
  padding-top: 47px;
  .user_information{
    padding: 30px 16px 20px 68px;
    .user_name{
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $text-light-gray;
    }
    .user_data{
      margin-top: 28px;
      display: flex;
      .data_column{
        width: 33.3333%;
        .column_title{
          font-size: 13px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $text-black;
        }
        .user_attribute{
          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: $text-light-gray;
        }
      }
    }
    button{
      display: block;
      margin: 10px 0px 0px auto;
      border: none;
      width: 90px;
      height: 36px;
      background-color: $primary-red;
      color: $white;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .financial_health_index{
    margin-top: 12px;
    padding-top: 24px;
    .header{
      
    }
  }
}